<div id="<%= dom_id glass_price %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Tipo de vidrio:</strong>
    <%= glass_price.glass_type %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Grosor:</strong>
    <%= glass_price.thickness %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= glass_price.color %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Precio:</strong>
    <% if glass_price.price.present? && glass_price.price > 0 %>
      <%= format_argentine_currency(glass_price.price, unit: "$", precision: 2) %>
    <% else %>
      N/A
    <% end %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Precio por m²:</strong>
    <% if glass_price.price_m2.present? && glass_price.price_m2 > 0 %>
      <%= format_argentine_currency(glass_price.price_m2, unit: "$", precision: 2) %>
    <% else %>
      N/A
    <% end %>
  </p>
  <%= turbo_frame_tag "glass_price_#{glass_price.id}" do %>
    <%= render "shared/glass_price_form", glass_price: glass_price, mode: "inline" %>
  <% end %>
</div>
