<tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
  <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">
    <div class="font-medium"><%= project.name %></div>
    <div class="hidden text-sm text-muted-foreground md:inline"><%= project.description %></div>
  </td>
  <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0 hidden text-right sm:table-cell">
    <span class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 <%= project_status_badge_class(project.status) %>">
      <%= project.status %>
    </span>
  </td>
  <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0 hidden text-right sm:table-cell">
    <%= project.delivery_date&.strftime('%d-%m-%Y') %>
  </td>
  <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0 text-right">
    <%= link_to "Ver", project_path(project), class: "inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-3" %>
  </td>
</tr>
