<div id="<%= dom_id scrap %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Ref number:</strong>
    <%= scrap.ref_number %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Scrap type:</strong>
    <%= scrap.scrap_type %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Thickness:</strong>
    <%= scrap.thickness %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Width:</strong>
    <%= scrap.width %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Height:</strong>
    <%= scrap.height %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Output work:</strong>
    <%= scrap.output_work %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= scrap.status %>
  </p>
</div>
