<%= form_with(model: precio_vidrio, class: "contents") do |form| %>
  <% if precio_vidrio.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(precio_vidrio.errors.count, "error") %> impidieron guardar este precio:</h2>
      <ul class="list-disc ml-6">
        <% precio_vidrio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <label class="block font-medium mb-1">Tipo</label>
    <input type="text" value="<%= precio_vidrio.tipo %>" readonly class="block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full bg-gray-100 text-gray-600" />
  </div>

  <div class="my-5">
    <label class="block font-medium mb-1">Grosor</label>
    <input type="text" value="<%= precio_vidrio.grosor %>" readonly class="block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full bg-gray-100 text-gray-600" />
  </div>

  <div class="my-5">
    <label class="block font-medium mb-1">Color</label>
    <input type="text" value="<%= precio_vidrio.color %>" readonly class="block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full bg-gray-100 text-gray-600" />
  </div>

  <div class="my-5">
    <%= form.label :precio_m2, "Precio por m²" %>
    <%= form.text_field :precio_m2, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": precio_vidrio.errors[:precio_m2].none?, "border-red-400 focus:outline-red-600": precio_vidrio.errors[:precio_m2].any?}] %>
  </div>

  <div class="my-5 flex gap-6">
    <div>
      <%= form.label :tamiz do %>
        <%= form.check_box :tamiz %> Tamiz
      <% end %>
    </div>
    <div>
      <%= form.label :hotmelt do %>
        <%= form.check_box :hotmelt %> Hotmelt
      <% end %>
    </div>
    <div>
      <%= form.label :cinta do %>
        <%= form.check_box :cinta %> Cinta
      <% end %>
    </div>
  </div>

  <div class="inline">
    <%= submit_tag "Guardar", class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
