<tr id="glass_price_<%= glass_price.id %>">
  <td class="px-4 py-2"><%= glass_price.glass_type %></td>
  <td class="px-4 py-2"><%= glass_price.thickness %></td>
  <td class="px-4 py-2"><%= glass_price.color %></td>
  <td class="px-4 py-2 font-semibold text-green-700">
    <%= render partial: "form_glass_price_inline", locals: { glass_price: glass_price } %>
  </td>
</tr> 