<%= form_with(model: supply, local: true) do |form| %>
  <% if supply.errors.any? %>
    <div id="error_explanation" class="bg-red-50 p-4 rounded-md">
      <h2 class="text-red-800 font-medium"><%= pluralize(supply.errors.count, "error") %> prohibido guardar el insumo:</h2>

      <ul class="mt-2 text-sm text-red-700">
        <% supply.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "block font-medium mb-1" %>
    <%= form.text_field :name, placeholder: "Nombre", class: "block w-full rounded-md border border-gray-300 px-3 py-2" %>
  </div>

  <div class="my-5">
    <%= form.label :price, class: "block font-medium mb-1" %>
    <%= form.number_field :price, step: :any, placeholder: "Precio", class: "block w-full rounded-md border border-gray-300 px-3 py-2" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer" %>
  </div>
<% end %>
