<%= form_with(model: supply, class: "contents") do |form| %>
  <% if supply.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(supply.errors.count, "error") %> impidieron guardar este insumo:</h2>
      <ul class="list-disc ml-6">
        <% supply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <label class="block font-medium mb-1">Nombre</label>
    <input type="text" value="<%= supply.name %>" readonly class="block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full bg-gray-100 text-gray-600" />
  </div>

  <div class="my-5">
    <%= form.label :price, "Precio" %>
    <%= form.text_field :price, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": supply.errors[:price].none?, "border-red-400 focus:outline-red-600": supply.errors[:price].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
