<%= form_with(model: glass_price, local: true) do |form| %>
  <% if glass_price.errors.any? %>
    <div id="error_explanation" class="bg-red-50 p-4 rounded-md">
      <h2 class="text-red-800 font-medium"><%= pluralize(glass_price.errors.count, "error") %> prohibido guardar el precio del vidrio:</h2>

      <ul class="mt-2 text-sm text-red-700">
        <% glass_price.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :glass_type, class: "block font-medium mb-1" %>
    <%= form.select :glass_type, options_for_select(GlassPrice::TYPES.keys.map {|k| [k, k]}, glass_price.glass_type), {}, class: "block w-full rounded-md border border-gray-300 px-3 py-2" %>
  </div>

  <div class="my-5">
    <%= form.label :thickness, class: "block font-medium mb-1" %>
    <%= form.text_field :thickness, placeholder: "mm", class: "block w-full rounded-md border border-gray-300 px-3 py-2" %>
  </div>

  <div class="my-5">
    <%= form.label :color, class: "block font-medium mb-1" %>
    <%= form.text_field :color, placeholder: "Color", class: "block w-full rounded-md border border-gray-300 px-3 py-2" %>
  </div>

  <div class="my-5">
    <%= form.label :buying_price_m2, class: "block font-medium mb-1" %>
    <%= form.number_field :buying_price_m2, step: :any, placeholder: "Precio compra", class: "block w-full rounded-md border border-gray-300 px-3 py-2" %>
  </div>

  <div class="my-5">
    <%= form.label :selling_price_m2, class: "block font-medium mb-1" %>
    <%= form.number_field :selling_price_m2, step: :any, placeholder: "Precio venta", class: "block w-full rounded-md border border-gray-300 px-3 py-2" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer" %>
  </div>
<% end %>
