<div id="<%= dom_id glass_price %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Tipo de vidrio:</strong>
    <%= glass_price.glass_type %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Grosor:</strong>
    <%= glass_price.thickness %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= glass_price.color %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Precio de compra:</strong>
    <% if glass_price.buying_price.present? && glass_price.buying_price > 0 %>
      $<%= number_with_precision(glass_price.buying_price, precision: 2) %>
    <% else %>
      N/A
    <% end %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">%:</strong>
    <% if glass_price.percentage.present? %>
      <%= number_with_precision(glass_price.percentage, precision: 1) %> %
    <% else %>
      N/A
    <% end %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Precio de venta:</strong>
    <% if glass_price.selling_price.present? && glass_price.selling_price > 0 %>
      $<%= number_with_precision(glass_price.selling_price, precision: 2  ) %>
    <% else %>
      N/A
    <% end %>
  </p>
  <%= turbo_frame_tag "glass_price_#{glass_price.id}" do %>
    <%= render partial: "partials/glass_prices/form_glass_price_inline", locals: { glass_price: glass_price } %>
  <% end %>
</div>
