<tr id="precio_vidrio_<%= precio_vidrio.id %>">
  <td class="px-4 py-2"><%= precio_vidrio.tipo %></td>
  <td class="px-4 py-2"><%= precio_vidrio.grosor %></td>
  <td class="px-4 py-2"><%= precio_vidrio.color %></td>
  <td class="px-4 py-2 font-semibold text-green-700">
    <%= render partial: "form_precio_vidrio_inline", locals: { precio_vidrio: precio_vidrio } %>
  </td>
</tr> 