<div id="<%= dom_id precio_vidrio %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Tipo:</strong>
    <%= precio_vidrio.tipo %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Grosor:</strong>
    <%= precio_vidrio.grosor %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= precio_vidrio.color %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Precio por m²:</strong>
    <%= precio_vidrio.precio_m2 %>
  </p>
</div>
