<%= form_with(model: glassplate, class: "contents") do |form| %>
  <% if glassplate.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(glassplate.errors.count, "error") %> prohibited this glassplate from being saved:</h2>

      <ul class="list-disc ml-6">
        <% glassplate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :width %>
    <%= form.text_field :width, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": glassplate.errors[:width].none?, "border-red-400 focus:outline-red-600": glassplate.errors[:width].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :height %>
    <%= form.text_field :height, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": glassplate.errors[:height].none?, "border-red-400 focus:outline-red-600": glassplate.errors[:height].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :color %>
    <%= form.text_field :color, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": glassplate.errors[:color].none?, "border-red-400 focus:outline-red-600": glassplate.errors[:color].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :type %>
    <%= form.text_field :type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": glassplate.errors[:type].none?, "border-red-400 focus:outline-red-600": glassplate.errors[:type].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
